which hashing algorithms are allowed? where do we list them? how do we allow extensibility of hashing algorithm?

In Dat we recently switched to Blake2 by default over SHA256 because Blake offered a few nicer security properties (notably built in protection against length extension attacks), was much faster (around 2X, which mattered as we are a data intensive use case), and recently got a pure javascript implementation which is nice for browser clients.

@maxogden what made you go with BLAKE2 rather than say SHA-3?

The same reasons in my comment above apply to SHA3 as well as SHA2. Additionally it is included in the libsodium crypto suite as the default hash function, and offers nice performance boosts and client side compatibility. 

RFC0009, RFC0010, RFC0013 and RFC0018 address this:

There is only one possible hashing algorithm per register. The definition of it determines item hashes, entry hashes, proofs, etc.

The possible hashing algorithms are any of the ones defined by multihash. So virtually any.